/* Mobile */
.container {
    background-color: white;
    min-height: 150px;
    border: 1px solid #e7edee;
    margin-bottom: 12px;
    border-radius: 6px;
    padding: 14px;
}
.imageContainer{
    height: 225px;
    width: 100%;
}
img {
    height: 100%;
    width: 99%;
}
.itemDetails {
    text-align: left;
}
h4 {
    margin: 8px 0;
}
/* Tablet */
@media(min-width: 700px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-basis: 42%;
    }
}

/* Desktop */
@media(min-width: 1024px) {
    .container {
        flex-basis: 21%;
    }
}
