.btn, .active {
    padding: 4px 18px;
    border-radius: 6px;
    border: 1px solid white;
    margin: 4px 0 8px;
    background-color: yellowgreen;
}
.btn:hover {
    background-color: palegreen;
    cursor: pointer;
}

.active {
    background-color: seagreen;
}
@media(min-width: 700px){
    .btn , .active {
        padding: 4px 12px;
    }
}
@media(min-width: 1024px) { 
    .btn , .active {
        padding: 4px 16px;
    }
}
